<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
        <customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
	</system.web>

	<appSettings>
        <add key="ArvixeSql" value="Data Source=chadwilcomb.com;Initial Catalog=sampledraft;User ID=tfldrafter;Password=chauntlet" />
	</appSettings>
	<connectionStrings>
        <add name="ArvixeString" connectionString="Data Source=chadwilcomb.com;Initial Catalog=sampledraft;User ID=tfldrafter;Password=chauntlet" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <asp scriptErrorSentToBrowser="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.pl" />
                <add value="default.html" />
                <add value="Default.cshtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
