/* Chunk Five */
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Carto Gothic */
@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/cartogothicstd-book-webfont.eot');
    src: url('../fonts/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cartogothicstd-book-webfont.woff') format('woff'),
         url('../fonts/cartogothicstd-book-webfont.ttf') format('truetype'),
         url('../fonts/cartogothicstd-book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Museo 300 Regular */
@font-face {
    font-family: 'Museo300';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body 
{
    font-family: 'CartoGothicStdBook', Sans-Serif;
    background: #1e3246 url('../images/blue-background.jpg') top left repeat;
    color: #1e3246;
}

a
{
    text-decoration: none;
    color: WhiteSmoke;
}

#logo 
{
    color: WhiteSmoke;
    font-family: 'Museo300', Sans-Serif;
    font-size: 50px;
}

.nav-pills>li>a { border-radius: 20px; }

.article
{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background-color: WhiteSmoke;
    border: 8px solid #788ca0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    line-height: 1.25em;
}
.article img.home-image { max-width: 100%; height: auto; }

@media (min-width: 768px) {

}
@media (max-width: 993px) {  
    #logo { text-align: center; }
    .nav { width: 100%; }
    .nav>li { float: none; }
    .nav>li>a { margin-bottom: 5px; text-align: center; }

}
@media (min-width: 768px) and (max-width: 993px) {
    .nav>li { display: table-cell; width: 1%; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header nav { margin-top: 26px }
    .nav { float: right; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
}

.article h2 { margin: 0 0 0.5em 0; }

.article h4 
{
    display: block;
    margin: 0 0 0.5em 0;
    font-weight: bold;
}

.article h5
{
    margin: 0.25em 0 0.25em 0;
}

.article li 
{
    list-style: none;
}

.article a:visited, .article a:link
{
    color: #1e3246;
    text-decoration: none;
}

.article a:hover, .article a:active
{
    color: #788ca0;
    text-decoration: underline;
}

.thumb
{
    position: relative;
    float: left;
}

.descrip
{
    position:relative;
    margin-left: 200px;
    padding: 0 0 0 1em;
}

#footer
{
    float: left;
    width: 100%;
}

#resume-body ul
{
    margin-left: 0;
}

#resume-body li
{
    list-style-type: disc;
}

#resume-body p
{
    margin-left: 2.5em;
}

#social_links
{
    float: left;
    width: 450px;
    position: relative;
}

#tweets 
{
    float: right;
    width: 450px;
    position: relative;
}

#tweets h3 a 
{
    font-size: 12px;
    margin-left: 10px;
    font-style: italic;
}

#twitter_update_list li
{
    margin: 1em 0 1em 0;
}