/* Chunk Five */
@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive-webfont.eot');
    src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chunkfive-webfont.woff') format('woff'),
         url('../fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Carto Gothic */
@font-face {
    font-family: 'CartoGothicStdBook';
    src: url('../fonts/cartogothicstd-book-webfont.eot');
    src: url('../fonts/cartogothicstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cartogothicstd-book-webfont.woff') format('woff'),
         url('../fonts/cartogothicstd-book-webfont.ttf') format('truetype'),
         url('../fonts/cartogothicstd-book-webfont.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Museo 300 Regular */
@font-face {
    font-family: 'Museo300';
    src: url('../fonts/Museo300-Regular-webfont.eot');
    src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Museo300-Regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

body 
{
    font-family: 'CartoGothicStdBook', Sans-Serif;
    background: #1e3246 url('../images/blue-background.jpg') top left repeat;
    color: #1e3246;
}

a
{
    text-decoration: none;
    color: WhiteSmoke;
}

#logo 
{
    color: WhiteSmoke;
    font-family: 'Museo300', Sans-Serif;
    font-size: 50px;
}

header nav {margin-top: 26px}
.nav-pills>li>a { border-radius: 20px; }

.article
{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background-color: WhiteSmoke;
    border: 8px solid #788ca0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    line-height: 1.25em;
}
.article.picture { padding-left: 50% }
.article.picture img { margin-left: -380px }