body 
{
    background-color: #B3C5E3;
    background-image: linear-gradient(top, #0B31A1 90px, #B3C5E3 180px);
    background-image: -o-linear-gradient(top, #0B31A1 90px, #B3C5E3 180px);
    background-image: -moz-linear-gradient(top, #0B31A1 100px, #B3C5E3 180px, #DFE1ED 100%);
    background-image: -webkit-linear-gradient(top, #0B31A1 100px, #B3C5E3 180px, #DFE1ED 100%);
    background-image: -ms-linear-gradient(top, #0B31A1 100px, #B3C5E3 180px, #DFE1ED 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0B31A1', endColorstr='#B3C5E3')"; /* IE8 */
}

.val {font-family: Arial; font-weight:bold; color: Red;}

#container {width: 800px; height:800px; margin: auto;}

#header {height: 72px; position: relative;}

#header h1 {text-align: center; vertical-align: top; color: White; font-size: 36pt; font-family:Cooper Black, Cooper, Arial Black, Arial;}

#nav {height: 82px; padding-top: 10px;}

#nav ul {margin-left: 3em;}

#nav ul li {display: inline;}

#nav ul li a:link, #nav ul li a:visited 
{
    text-decoration:none;
    font-size:14pt;
    font-family:Cooper Black, Cooper, Arial Black, Arial;
    color:#FFFFFF;
    padding: 7px 10px 7px 10px;
}

#nav ul li a:hover, #nav ul li a:active 
{
    text-decoration:underline;
    font-size:14pt;
    font-family:Cooper Black, Cooper, Arial Black, Arial;
    color:#FFFFFF;
    padding: 7px 10px 7px 10px;
}

#content {height:190px; width:800px; font-family: Arial; font-weight:bold; color:#0B31A1; }

#results {float:left; text-align:center; width:800px;}

#results p {font-family:Arial; color: #0B31A1; text-align:center;}



.left {float:left; width:300px; padding: 1em 0em 1em 6em;}
.right {float:right; width:300px; padding: 1em 1.5em 1em 1em;}
.login {width:280px; margin: auto; padding-top:2em;}
.login a:link, .login a:visited {text-decoration:none; color: Gray;}
.login a:hover, .login a:active {text-decoration:underline; color: Gray}
.register {width:350px; margin: auto; padding-top: 2em;}
.receipt {width:265px; margin: auto; padding-top: 2em;}
.submit {float: left; width:100%; text-align: center; padding: 1em 0em 1em 0em;}

.button {padding: 10px; font-family:Arial; font-weight:bold; color: #0B31A1; text-align:center;}

.dd {width:180px; margin-left: 1em;}

.tbdep {width:140px; margin-left: 1em;}

.tbret {width:118px; margin-left: 1em;}

.val {font-size:10pt; color:Red;}

.headRow {font-family:Arial; font-weight:bold; font-size:12pt; padding: 5px, 10px, 5px, 10px; text-align:center; color:#0B31A1; background-color:#B3C5E3;}

.altRow {font-family:Arial; font-size:10pt; padding: 5px, 10px, 5px, 10px; text-align:center; color:#0B31A1; background-color:#B3C5E3;}

.regRow {font-family:Arial; font-size:10pt; padding: 5px, 10px, 5px, 10px; text-align:center; color:#0B31A1; background-color:White;}

.selRow {font-family:Arial; font-weight:bold; font-size:10pt; padding: 5px, 10px, 5px, 10px; text-align:center; color:#DC143C; background-color:#FCFA6A;}

.footRow {font-family:Arial; font-weight:bold; font-size:12pt; padding: 5px, 10px, 5px, 10px; text-align:center; color:#0B31A1;}

.receiptHead {font-family:Arial;font-weight:bold; text-align:left; color:White; background-color:#0B31A1; border:none; }
.receiptBody {font-family:Arial;color:#0B31A1; border:none; text-align:left;}
.receiptLabel {font-family:Arial;font-weight:bold; color:#0B31A1; border:none; text-align:left;}
.receiptFoot {font-family:Arial;font-weight:bold; color:#0B31A1; border:none; text-align:left;}





