

#UpdatePanel2, #UpdatePanel3, #ddPlayers, #ddOwners, #ddPosition, .plainText, #bidAmount
{
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}

#last5 
{
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: bold;
}

#lblVal 
{
    font-family: Helvetica;
    font-size: 1.5em;
    color: Red;
    font-weight: bold;
}

#gvTeam, #resultsGrid, #gvResults 
{
    width: 100%;
    font-family: Helvetica;
    font-size: 1em;
}


#lblSuccess 
{
    font-family: Helvetica;
    font-size: 1.2em;
    color: Blue;
    font-weight: bold;
}

#spanPos 
{
    padding-right:15px;
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}
#spanPlayer 
{
    padding-right:35px;
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}
#spanOwner 
{
    padding-right:10px;
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}
#spanBid 
{
    padding-right:40px;
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}


input[type=submit] {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1.3em;
      font-weight: bold;
      width: 100%;
      height: 50px;
      border: 3px solid #282726;
      background: -webkit-gradient( linear, left top, left bottom, from(#e2e2e2), to(#8c8a88), color-stop(0.5, #acadae), color-stop(0.5, #82807e) );
      margin: 0 0 3px 0;
      text-shadow: 0px 1px 0 #cecece;
      -webkit-background-origin: padding-box;
      -webkit-background-clip: border-box;
      -webkit-border-radius: 8px;
    }




