body  
{  
    background-color:#333;  
    margin-top:-0px;  
    margin-left:-0px;  
}  
  
#wrap  
{  
    overflow:auto;  
    width:480px;  
    height:320px;  
  
}  
  
#header  
{  
    /* background:url(../images/l_header.jpg);  */
    background-repeat:no-repeat;  
    height:120px;  
  
}  
  
#content  
{  
    /* background:url(../images/l_middle.jpg);  */
    background-repeat:repeat-y;  
    margin-top:-5px;  
  
}  
  
p  
{  
    margin:5px;  
    padding-left:25px;  
    width:370px;  
    font-size:10px;  
    font-family:arial,"san serif";  
}  
  
#bottom  
{  
    /* background:url(../images/l_bottom_corners.jpg);  */
    background-repeat:no-repeat;  
    height:37px;  
    margin-top:-5px;  
}  